
h1 {
    
    color:black;
    margin: 0;
    padding: 0;
    border: 0;
}

.homepage {
    height:1000px;
    background-image: url("src/pages/HomePage/homebackground.png");
    background-size: cover;
}
