@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "digital-clock";
  src: url("../assets/digital-7.ttf");
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body,
html {
  display: flexbox;
  height: 100%;
  width: 100%;
}

.login-body {
  background-image: url("../assets/pokemon-login-bg.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 63%;
  width: 39%;
  justify-content: center;
  align-items: center;
  background-color: #ff2522;
  gap: 20px;
  border-radius: 50%;
  border: 7px #191919 solid;
}

.login-title {
  font-family: "Press Start 2P";
  font-size: 26px;
  letter-spacing: -1.5px;
  color: #ececec;
}

.login-input {
  width: 80%;
  padding: 10px 0;
  font-size: 16px;
  color: whitesmoke;
  border: none;
  border-bottom: 1px solid bisque;
  outline: none;
  background: transparent;
}

.login-form a {
  font-family: "Press Start 2P";
  font-size: 11px;
  color: #ececec;
}

.login-button {
  font-family: "Press Start 2P";
  background-color: #ececec;
  border-radius: 5px;
  width: 80%;
  height: 46px;
  font-size: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.login-button:hover {
  background-color: #c6c6c6;
}

.timer-page {
  background-image: url("../assets/pokemon-bg.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  background-color: rgba(34, 33, 32, 0.8);
  border-radius: 50%;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.8),
    0 25px 55px 0 rgba(0, 0, 0, 0.21);
  width: 43.2%;
  height: 70.1%;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
}

.timer-image {
  width: 100%;
}

.progress-radial {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2em;
  width: 6em;
  padding-bottom: 1em;
  margin-top: 5px;
  border-radius: 50%;
  font-family: "digital-clock";
}

.main-display {
  position: absolute;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #eae9e5;
  font-family: "digital-clock";
  width: 200px;
  height: 200px;
}

.main-display img {
  width: 100%;
  height: 100%;
}

CountdownCircleTimer {
  position: absolute;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #eae9e5;
  font-family: "digital-clock";
}

.session .overlay {
  color: #00a0b0;
}

.break .overlay {
  color: #ff2522;
}

.session-info,
.settings,
.controls {
  color: #dadadb;
  font-family: "Press Start 2P";
  font-size: 12px;
}

.settings {
  width: 90%;
  border-top: 1px dotted #818184;
  border-bottom: 1px dotted #818184;
}

.time-session,
.time-break {
  display: inline-block;
  padding: 20px;
}

.time-session h6,
.time-break h6 {
  margin-top: 0;
  margin-bottom: 5px;
}
.time-session button,
.time-break button {
  background-color: rgba(8, 8, 8, 0.7);
  border: none;
  border-radius: 4px;
  color: #dadadb;
  transition: background-color 0.2s ease-in-out;
  width: 30px;
  cursor: pointer;
}

.time-session button:hover,
.time-break button:hover {
  background-color: rgba(130, 130, 130, 0.8);
}

.time-session-display,
.time-break-display {
  margin-bottom: 8px;
  margin-top: 0px;
  line-height: 1em;
}

.time-session-display {
  color: #00a0b0;
}

.time-break-display {
  color: #ff2522;
}

.controls {
  padding-top: 20px;
  padding-bottom: 10px;
}

.controls button {
  background-color: rgba(8, 8, 8, 0.7);
  border: none;
  border-radius: 4px;
  color: #dadadb;
  font-size: 0.9em;
  transition: background-color 0.2s ease-in-out;
  height: 40px;
  width: 70px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.controls button:hover {
  background-color: rgba(130, 130, 130, 0.8);
}

.main-display img:hover {
  animation: hithere 1s ease;
}

@keyframes hithere {
  30% {
    transform: scale(1.1);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.collection-page {
  height: 100vh;
  width: 100%;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-grid {
  margin-top: 20%;
  top: 180px;
  align-self: center;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 20px;
  padding-bottom: 20px;
  z-index: 1000;
  background-color: #ececec;
}

.collection-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 3px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding-bottom: 10px;
  transition: 0.3s ease;
}

.collection-card:hover {
  scale: 1.05;
}

.collection-image {
  width: 100%;
  background-color: #ececec;
  border-radius: 8px;
}

.collection-card-title {
  font-size: 30px;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url("../assets/pokemon-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.not-found-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.p-and-img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.p-and-img img:hover {
  animation: hithere 1s ease;
}

.not-found-container p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.links {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

/* Styling for the links */
.not-found-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 3rem;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #d6403a;
  border-radius: 6px; /* Make it a circle */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  font-family: "Press Start 2P";
  font-size: 10px;
}

.not-found-container a:hover {
  background-color: #c40009; /* Darker red on hover */
}

.about-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px;
  background-color: #ececec;
  height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  margin-top: 50px;
}

.about-page h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

.about-page h2 {
  font-size: 1.8rem;
  margin: 20px 0 10px;
}

.about-page p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}
