/* Add the following CSS animation and keyframes */

.image-container {
    position: relative;
    width: 100%; /* Set the width of the parent container to 100% */
    overflow: hidden; /* Hide any overflow from the sliding image */
}

.pikachuIMG {
    position: absolute;
    margin-top: 30%;
    height: 100px;
    animation: slideInOut 10s infinite cubic-bezier(0, 0, 1, 1);
   
    z-index: 10;
}
.butterIMG {
    position: absolute;
    margin-top: 25%;
    height: 130px;
    animation: slideInOut 20s infinite cubic-bezier(0, 0, 1, 1);
    animation-delay: 2s; /* Add a delay of 2 seconds */
    z-index: 10;
}

@keyframes slideInOut {
    0% {
        left: -100%; /* Slide in from the left by moving left */
    }
    50% {
        left: 0; /* Pause at the center */
    }
    100% {
        left: 100%; /* Slide out to the right by moving right */
    }
}
