.image {
   height: 270px;
   width: 270px;
   margin: 20px;
   background-image: url("src/components/PokemonCard/background.jpg");
   background-size: cover;
   background-position: 33cqb;
   border-radius: 50%;
   animation: glow 5s ease-in-out infinite;
}


.pokemon-card {
   border: 10px solid;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 10px;
   display: flex;
   text-align: center;
   color: rgb(227, 225, 186);
   font-family: "Press Start 2P";
   z-index: 7;
    border-radius: 5%;
   
   
 }

 .name {
   font-size: 15px;
 }

 .getme {
   position: absolute;
   margin-top: 45%;
   left: 43%;
   
   
 }
