
.navContainer {
    position: relative;
  }
  
  .navImageleft {
    max-height: 9vh;
    max-width: 9vh;
    position: absolute;
    margin-top: 4%;
    left: 5%;
  }
  
  .navImageleft:hover + .spanL {
    display: block;
  }
  
  .spanL {
    max-height: 9vh;
    max-width: 9vh;
    position: absolute;
    margin-top: 9%;
    left: 1%;
    font-size: 10px;
    text-align: center;
    font-family: "Press Start 2P";
    display: none; 
    color: white;
  }
  
  .navImageright {
    max-height: 10vh;
    max-width: 10vh;
    position: absolute;
    margin-top: 4%;
    right: 5%;
  }
  
  .navImageright:hover + .spanR {
    display: block;
  }
  
  .spanR {
    max-height: 10vh;
    max-width: 10vh;
    position: absolute;
    margin-top: 9%;
    right: 5.5%;
    font-size: 10px;
    text-align: center;
    font-family: "Press Start 2P";
    display: none; 
    color: white;
  }
  

